@import url('https://fonts.googleapis.com/css?family=Rubik');

body{
    min-height: 100vh;
    font-family: 'Rubik';
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
}

*{
    font-family: 'Rubik';
}

a.btn-lg{
    border-radius: 25px;
}

li.list-group-item{
    background-color: transparent;
}

ul.list-group-flush{
    margin-left: constant(safe-area-inset-left);
}

div.course{
    min-width: 100px;
    width: 25%;
    max-width: 125px;
}

p.course{
    font-size: 14px;
}